.css_mwl_ip_label, .css_mwl_ip_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mwl_ip_grid_line, .css_mwl_ip_grid_line:hover {vertical-align: top;text-align: right;}
.css_mwl_port_label, .css_mwl_port_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mwl_port_grid_line, .css_mwl_port_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
