.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_patient_rm_label { }
.css_patient_rm_line { }
.css_patient_rm_obj { }
.css_jenis_pemeriksaan_label { }
.css_jenis_pemeriksaan_line { }
.css_jenis_pemeriksaan_obj { }
.css_tgl_pemeriksaan_label { }
.css_tgl_pemeriksaan_line { }
.css_tgl_pemeriksaan_obj { }
.css_dpjp_label { }
.css_dpjp_line {text-align:left;}
.css_dpjp_obj {text-align:left;}
.css_identifiersr_label { }
.css_identifiersr_line { }
.css_identifiersr_obj { }
.css_accno_label { }
.css_accno_line { }
.css_accno_obj { }
